# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Rust
target/

# Miscellaneous
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/launch.json

# Vitepress
**/.vitepress/cache
**/node_modules
**/dist